<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear <%= @user.name %></h1>
    <p>
			Your account has been enabled. Please contact us if you have any problems.
    </p>
    <p>Sincerely</p>
  </body>
</html>
