<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear <%= @user.name %></h1>
    <p>
			We are very sorry, but we have to disable your account. Please contact us if this is our mistake. We are very sorry for any inconvenient.
    </p>
    <p>Sincerely</p>
  </body>
</html>
