@font-face {
	font-family: 'ChampagneLimousinesItalic';
	src: url('/stylesheets/fonts/champagne__limousines_italic-webfont.eot');
	src: url('/stylesheets/fonts/champagne__limousines_italic-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/stylesheets/fonts/champagne__limousines_italic-webfont.woff') format('woff'),
			 url('/stylesheets/fonts/champagne__limousines_italic-webfont.ttf') format('truetype'),
			 url('/stylesheets/fonts/champagne__limousines_italic-webfont.svg#ChampagneLimousinesItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ChampagneLimousinesBoldItalic';
	src: url('/stylesheets/fonts/champagne__limousines_bold_italic-webfont.eot');
	src: url('/stylesheets/fonts/champagne__limousines_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/stylesheets/fonts/champagne__limousines_bold_italic-webfont.woff') format('woff'),
			 url('/stylesheets/fonts/champagne__limousines_bold_italic-webfont.ttf') format('truetype'),
			 url('/stylesheets/fonts/champagne__limousines_bold_italic-webfont.svg#ChampagneLimousinesBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ChampagneLimousinesBold';
	src: url('/stylesheets/fonts/champagne__limousines_bold-webfont.eot');
	src: url('/stylesheets/fonts/champagne__limousines_bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/stylesheets/fonts/champagne__limousines_bold-webfont.woff') format('woff'),
			 url('/stylesheets/fonts/champagne__limousines_bold-webfont.ttf') format('truetype'),
			 url('/stylesheets/fonts/champagne__limousines_bold-webfont.svg#ChampagneLimousinesBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ChampagneLimousinesRegular';
	src: url('/stylesheets/fonts/champagne__limousines-webfont.eot');
	src: url('/stylesheets/fonts/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/stylesheets/fonts/champagne__limousines-webfont.woff') format('woff'),
			 url('/stylesheets/fonts/champagne__limousines-webfont.ttf') format('truetype'),
			 url('/stylesheets/fonts/champagne__limousines-webfont.svg#ChampagneLimousinesRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fl {
	width: auto;
	float: left; 
}

.fr {
	width: auto;
	float: right; 
}

.clear {
	clear:both; 
}

body {
	background: #C0C0C0;
	margin: 0;
	padding: 0;
	font-family: "ChampagneLimousinesRegular";
	font-size: 0.8em;
}

#login h2 {
	text-transform: uppercase;
}

#header #nav {
	margin-top: 20px;
}

#body_wrapper {
	width: 1024px;
	margin: 0 auto;
	padding: 0;
	background: url("/images/login_bg.jpg");
}

#header .container{
	background: url("../images/logo.png") no-repeat 20px 9px;
	height: 177px;
	padding-top: 32px;
	width: 100%;
}

#wrapper {
	background: url("/images/wrapper_bg_top.png") no-repeat center top;
	padding: 45px 35px 20px;
}

.label {
	width: 90px; 
}

.label label {
	font-size: 1.4em;
	font-weight: normal;
}

.form-input {
	margin-bottom: 15px;
}

.input-control input {
	background: url("/images/input_border.png") no-repeat;
	height: 22px;
	width: 204px;
	border: none;
	padding: 0 10px;
}

#login_form .submit input {
	background: url("/images/login_button.png") !important;
	border: none;
	width: 90px;
	height: 34px;
	text-indent: 200px;
}

#user_form .submit input {
	background: url("/images/send_button.png") !important;
	border: none;
	width: 90px;
	height: 34px;
	text-indent: 200px;
}

#to_login {
	margin-left: 110px;
}

#to_apply {
	margin-right: 110px;
}

.submit {
	text-align: right;
}

.product-listing {
	margin: 2em 3.6em 0;
}
.product-listing li {
	margin: 0;
	border: none;
	width: 190px;
	height: 215px;
	text-align: center;
	border: 1px solid transparent;
}

.product-listing li:hover {
	border: 1px solid #22C1E1;
}

.product-listing li a.info,
.product-listing li:hover a.info{
	position: static;
	width: 130px;
	background: none;
	border: none;
	color: #111111;
	width: auto;
}

#product-images {
	width: 320px;
	margin-left: 120px;
	margin-right: 60px;
}

#product-description {
	border: none;
}

.product-more-info {
	margin-left: 120px;
	margin-top: 10px;
	width: 700px;
	text-align: justify;
}

.product-more-info h4 {
	text-transform: uppercase;
	color: #383838;
}

#product-images #main-image {
	border: 1px solid #E9E9E9;
}

ul.thumbnails {
	margin-top: 10px;
}

ul.thumbnails li,
ul.thumbnails li.selected {
	border: 1px solid #E9E9E9;
	margin: 5px;
	width: 65px;
	min-height: 65px;
}

#product-details h1,
#taxon-details h1 {
	border: none;
	text-transform: uppercase;
	color: #22C1E1;
	margin-left: 50px;
}

#product-description h1 {
	color: #686868;
	margin-left: 0;
}

dl.table-display dt {
	float: none;
	width: auto;
	text-transform: uppercase;
	border: none;
	color: #383838;
	padding: 0;
}

dl.table-display dd {
	float: none;
	width: auto;
	border: none;
	color: #797979;
	padding: 0;
	margin-bottom: 10px;
}

dl.table-display dd span {
	display: block;
}

.latest-video .video-details {
	margin: auto 0 0 30px;
	width: 330px;
}

.video-details h3,
.videos h3 {
	margin-bottom: 0;
}

.latest-video .video-details ul,
.video ul {
	margin-left: 0;
	font-size: 0.8em;
}

.video-details ul li,
.video ul li {
	list-style: none;
	display: inline;
	padding-right: 5px;
}

.latest-video .video-details ul li.last {
	border-left: 1px solid #111111;
	padding-left: 5px;
}

.video-details p {
	text-align: justify;
}

.videos {
	margin-top: 30px;
}

.video {
	width: 195px;
	margin: 10px 40px 10px 0;
}

.video h4 {
	margin: 5px auto;
}

#header {
	background: url("/images/header_bg.png") repeat-x;
}

#footer {
	color: #989898;
	background: url("/images/footer_bg.png");
	height: 33px;
	padding-top: 27px;
}

#footer div.left {
	margin-left: 1.5em;
	width: 30%;
}

#footer ul#copyright {
	float: right;
}

#footer ul li {
	float: left;
	list-style: none;
	padding: 0 5px;
	border-right: 1px solid #989898;
}

#footer ul li.last {
	border: none;
}

#footer ul li a {
	color: #989898;
	text-decoration: none;
}

#minor_nav {
	background: url("/images/nav_bg.png");
}

#minor_nav ul {
	float: none;
	margin: 0 0 0 200px;
}

#minor_nav ul li ul {
	margin: 0;
}

#minor_nav ul li a {
	color: #111111 !important;
}
