	<% if !defined?(hide) || !hide[:home] %><li class="first"><a href="/">Home</a></li><% end %>
	<% if !defined?(hide) || !hide[:collections] %>
	<li class="dir <%= defined?(hide) && hide[:home] ? "first" : "" %>"><%= link_to("Collections", collections_path) %>
		<% if !defined?(hide) || !hide[:sub_collections] %>
			<ul>
				<% get_taxonomies.each do |taxonomy| %>
					<!--li class="root"><%= taxonomy.name %></li-->
					<% taxonomy.root.children.each do |taxon| %>
						<li>
							<%= link_to taxon.name + " " + taxonomy.name, seo_url(taxon) %>
						</li>
					<% end %>
				 <% end %>
			 </ul>
		 <% end %>
	</li>
	<% end %>
	<% if !defined?(hide) || !hide[:videos] %><li><a href="/videos/index">Videos</a></li><% end %>
	<% if !defined?(hide) || !hide[:wholesales] %><li><a href="/products">Wholesales</a></li><% end %>
	<% if !defined?(hide) || !hide[:sizing_chart] %><li><a href="#">Sizing Chart</a></li><% end %>
	<% if !defined?(hide) || !hide[:product_care] %><li><a href="#">Product Care</a></li><% end %>
	<% if !defined?(hide) || !hide[:store_locator] %><li><a href="#">Store Locator</a></li><% end %>
	<% if !defined?(hide) || !hide[:about] %><li><a href="#">About</a></li><% end %>
	<% if !defined?(hide) || !hide[:contact] %><li class="last"><a href="/contact">Contact</a></li><% end %>

