<div id="background" class="main-page">
	<div id="wrapper">
		<div id="content">
			<div id="nav">
				<ul class="dropdown dropdown-horizontal">
					<%= render :partial => "shared/nav_bar", :locals => {:hide => {:home => true, :sizing_chart => true, :product_care => true, :store_locator => true, :about => true}} %>
				</ul>
			</div>
		</div>
	</div>
	<div id="copyright">
		All images, Content & Photography @ Copyright 2011	
	</div>
</div>
