#background
	#wrapper
		#content
			#nav
				%ul
					%li= link_to("Collections", "#")
					%li= link_to("Videos", "#")
					%li= link_to("Wholesale")
					%li.last= link_to("Contact")
	#copyright
		All images, Content & Photography @ Copyright 2011	
