 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= hook :inside_head do %>
  <%= render :partial => 'shared/head'%>
<% end %>
<link rel="stylesheet" type="text/css" href="/stylesheets/no-frame.css" />
</head>
<body id="no_frame">
  <%= yield %>
</body>
</html>
